@import "tailwindcss";


@theme {
  --color-primary: #3498db;
  --color-secondary: #2980b9;
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

